body {
	display: flex;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
}

/**here starts the header section */

.header {
	background-color: #1f2937;
	display: flex;
	flex-direction: column;
	padding: 20px 200px;
}
.header .top {
	display: flex;
	justify-content: space-between;
}
.header .top .logo {
	font-size: 24px;
	color: #f9faf8;
	font-weight: bold;
}
.header .top .links {
	display: flex;
	gap: 8px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 18px;
}
a {
	text-decoration: none;
	color: #e5e7eb;
}
.header .bottom {
	display: flex;
	gap: 20px;
	padding: 100px 0;
}

.header .bottom .left {
	flex: 1 1 0;
}

.header .bottom .left h1 {
	font-size: 48px;
	font-weight: bolder;
	color: #f9faf8;
	margin: 0;
}
.header .bottom .left p {
	font-size: 18px;
	color: #e5e7eb;
}
.header .bottom .left button {
	background-color: #3882f6;
	padding: 5px 30px;
	border: 0;
	color: #f9faf8;
	font-weight: bold;
	border-radius: 25px;
}
.header .bottom .right {
	display: flex;
	flex: 1 1 0;
	background-color: #f9faf8ce;
	align-items: center;
	justify-content: center;
}

/**here ends the header section*/

/**here starts the info section*/

.info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info h2 {
	font-size: 36px;
	font-weight: bolder;
	color: #1f2937;
}

.info .cards {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.info .cards .card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: auto;
}

.info .cards .card .image {
	width: 120px;
	height: 120px;
	border: 3px solid #3882f6;
	border-radius: 25px;
}

.info .cards .card .text {
	font-size: 15px;
	text-align: center;
	color: #1f2937;
	margin: 10px;
}
/**here ends the info section*/

/**here starts the quote section*/

.quote {
	background-color: #e5e7eb;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 100px 200px;
}

.quote .text {
	font-size: 36px;
	font-style: italic;
	font-weight: lighter;
	color: #1f2937;
}
.quote .author {
	font-weight: bolder;
	color: #1f2937;
	align-self: flex-end;
}

/**here ends the quote section*/

/**here starts the modal section*/

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
	color: #f9faf8;
}

.modal .container {
	display: flex;
	align-items: center;
	background-color: #3882f6;
	padding: 10px 20px;
	gap: 10px;
	border-radius: 10px;
}

.container button {
	margin: 0 80px;
	padding: 5px 20px;
	border: 2px solid #e5e7eb;
	border-radius: 25px;
	background-color: #3882f6;
	color: #f9faf8;
	font-weight: bold;
}

.container .right h3 {
	margin-bottom: 0;
	font-size: x-large;
}

.container .right p {
	margin-top: 0;
	font-size: medium;
}
/**here ends the modal section*/

/**here starts the footer section*/

footer {
	background-color: #1f2937;
	text-align: center;
	padding: 20px;
	color: #f9faf8;
}
